<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="border-0 " [class.bg-light]="isBasket" scope="col">
        <div class="py-2 px-3">Artwork</div>
      </th>
      <th class="border-0" [class.bg-light]="isBasket" scope="col">
        <div class="py-2 px-3">Price</div>
      </th>
      <th *ngIf="isBasket" class="border-0" [class.bg-light]="isBasket" scope="col">
        <div class="py-2 px-3">Remove</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of (basket$ | async).items">
      <th scope="row">
        <div class="p-2">
          <img class="img-fluid" style="max-height: 75px; max-width: 50px" src="{{item.pictureUrl}}" alt="{{item.artworkName}}">
          <div class="ml-3 d-inline-block align-middle">
            <h5 class="mb-0"><a class="text-dark" routerLink="artworks/{{item.id}}">{{item.artworkName}}</a></h5>
          </div>
        </div>
      </th>
      <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
      <td class="align-middle">
        <div class="px-4">
          <a  class="text-danger" (click)="removeBasketItem(item)">
            <i *ngIf="isBasket" class="fa fa-trash" style="font-size: 2em; cursor: pointer"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
