<div class="bg-light px-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">Shipping costs will be added made on choices during checkout</p>
  <ul class="list-unstyled mb-5" *ngIf="(basketTotal$ | async) as totals ">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Order subtotal</strong>
      <strong >{{totals.subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Shipping and Handling</strong>
      <strong >{{totals.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong >{{totals.total | currency}}</strong>
    </li>
  </ul>
</div>
