<div class="container-lg">
  <div class="row">
    <div class="col-md-auto">
      <neg-section-header></neg-section-header>
    </div>
  <div class="row ml-5">
    <div class="col-lg-6 gallery my-3"  *ngFor="let artwork of artworks">
      <div class="gallery-item">
        <img
          [routerLink]="['artworks', artwork.id, ]"
          routerLinkActive="router-link-active"
          src="{{ artwork.pictureUrl }}"
        />
      </div>
      <div class="container">
        <div class="row d-flex justify-content-start">
          <span class="title d-inline-block text-wrap " style="max-width: 90px">
            <p class="h6 title text-left text-muted ">
              {{ artwork.name }} {{ artwork.price | currency }}
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

